body{
    height: 100vh;
    background-image: url('imagens/sukuna-yuji.png');
    background-color:#A23237;
    background-position: center center;
    background-repeat:repeat;
    background-size: 100% 100%;
   
}
div{
    text-align: center;
}
h1{
    color: white;
}
button{
    width: 6em;
    height: 2.5em;
    color: white;
}
button:hover{
    width: 6.5em;
    height: 3em;
    text-decoration: underline;
    cursor: pointer;
}
.iniciar-btn{
    background-color: rgb(7, 196, 33);
}
.pausar-btn{
    background-color: rgb(189, 189, 189);
}
.parar-btn{
    background-color: rgb(226, 61, 61);
}